---
// src/pages/index.astro
import MainLayout from "../../layouts/MainLayout.astro";
import "../../styles/CardGame.css";
---

<MainLayout
  title="Desafía tu Memoria con Luna"
  description="Disfruta del Juego de Parejas de 'La Voz de los Cuentos' y desafía tu memoria encontrando todas las parejas de cartas de Luna. Sumérgete en un mundo de historias encantadoras mientras mejoras tu concentración y habilidades mentales. ¡Juega ahora y descubre la magia de los cuentos!"
  url="/juego/parejas"
>
  <div class="game-content">
    <div id="game-container"></div>
  </div>
  <script>
    import { Pair } from "la-voz-de-los-cuentos-games";
    window.game = new Pair();
  </script>
  <style>
    .game-content {
      background-color: white;
      margin: 60px auto;
      border-radius: 16px;
    }
    #game-container {
      height: 85dvh;
      border-radius: 16px;

      canvas {
        height: 85dvh;
        border-radius: 16px;
      }
    }
  </style>
</MainLayout>
