---
import './footer.css';
---

<footer class="main-footer">
    <img src="/assets/clouds.png" alt="Clouds background" class="background-image">
    <div class="footer-spacing"></div>
    <ul>
        <li><a href="/personalizado/cuento/">Pedirnos un cuento único</a></li>
        <li><a href="/quitarse/">Eliminar envíos de cuentos mágicos</a></li>
    </ul>
    <div class="column">
        <div id="newsletter-footer">
            <h2>¿Quieres que te enviemos cuentos nuevos por correo?</h2>
            <form id="newsletter-form-footer" class="newsletter-form">
                <input 
                    type="email" 
                    placeholder="Tu correo electrónico" 
                    id="email-footer" 
                    class="input-email" 
                />
                <button type="submit" class="btn-submit">¡Sí!</button>
                <span id="email-error-footer" class="error-message" style="display:none;">Por favor, introduce un correo electrónico válido.</span>
            </form>
        </div>
        <div id="success-message-footer" class="success-message" style="display:none;">
            <div class="image-container">
                <p>¡Te enviaremos los cuentos!</p>
                <img class="image-success" src="/assets/emotes/happy.png" alt="Imagen de despedida" />
            </div>
        </div>
        <p id="error-message-footer" class="error-message" style="display:none;">Hubo un problema con la suscripción.</p>
    </div>
</footer>

<script>
    document.addEventListener('DOMContentLoaded', () => {
        const form = document.getElementById('newsletter-form-footer');
        const emailInput = document.getElementById('email-footer');
        const emailError = document.getElementById('email-error-footer');
        const successMessage = document.getElementById('success-message-footer');
        const errorMessage = document.getElementById('error-message-footer');
        const newsletter = document.getElementById('newsletter-footer');

        form.addEventListener('submit', async (event) => {
            event.preventDefault();
            const email = emailInput.value.trim();
            emailError.style.display = 'none';
            errorMessage.style.display = 'none';

            if (!validateEmail(email)) {
                emailError.style.display = 'block';
                return;
            }

            try {
                const response = await fetch('https://script.google.com/macros/s/AKfycbxzhVGv1wPrLwYU9Inq0Pbx9Bm76LBl8RX9oyWSdaEcaCWyschEyNgJbMNS8XUYj7Pi/exec', {
                    method: 'POST',
                    body: JSON.stringify({ email }),
                    headers: {
                        "Content-Type": "text/plain;charset=utf-8",
                    },
                });
                
                if (!response.ok) {
                    throw new Error('Network response was not ok');
                }

                const result = await response.json();
                if (result.result === 'success') {
                    newsletter.style.display = 'none';
                    successMessage.style.display = 'block';
                } else {
                    errorMessage.style.display = 'block';
                }
            } catch (error) {
                console.error('Error:', error);
                errorMessage.style.display = 'block';
            }
        });

        function validateEmail(email) {
            const re = /^[^\s@]+@[^\s@]+\.[^\s@]+$/;
            return re.test(String(email).toLowerCase());
        }
    });
</script>
