---
import MainLayout from "../../layouts/MainLayout.astro";
import "../../styles/CustomStoryPage.css";
import { Image } from "astro:assets";
---

<MainLayout
  title="Cuento Personalizado"
  description="Bienvenido a nuestra página mágica de creación de cuentos infantiles. Aquí puedes pedir un cuento personalizado de forma gratuita. ¡Deja volar tu imaginación y permítenos crear una historia especial solo para ti!"
  url="/personalizado/cuento/"
>
  <div class="custom-story">
    <Image
      id="statusImage"
      class="image-success"
      src="/assets/emotes/salute.png"
      alt="Imagen de despedida"
      style="display: none;"
      width="512"
      height="512"
      layout="constrained"
      loading="eager"
    />
    <Image
      id="loadingImage"
      class="image-success"
      src="/assets/emotes/thinking.png"
      alt="Imagen de despedida"
      style="display: none;"
      width="512"
      height="512"
      layout="constrained"
      loading="eager"
    />
    <Image
      id="successImage"
      class="image-success"
      src="/assets/emotes/happy.png"
      alt="Imagen de despedida"
      style="display: none;"
      width="512"
      height="512"
      layout="constrained"
      loading="eager"
    />
    <Image
      id="errorImage"
      class="image-success"
      src="/assets/emotes/sad.png"
      alt="Imagen de despedida"
      style="display: none;"
      width="512"
      height="512"
      layout="constrained"
      loading="eager"
    />

    <p id="description" class="description">
      Bienvenido a nuestra página mágica de creación de cuentos infantiles. Aquí
      puedes pedir un cuento personalizado de forma gratuita. ¡Deja volar tu
      imaginación y permítenos crear una historia especial solo para ti!
    </p>
    <form id="customForm" class="custom-form">
      <div class="form-group">
        <label for="name">¿Tienes pensado nombre para el protagonista?</label>
        <input type="text" id="name" name="name" />
      </div>
      <div class="form-group">
        <label for="story"
          >¿De qué va el cuento? <span class="mandatory">*</span></label
        >
        <textarea id="story" name="story" required></textarea>
      </div>
      <div class="form-group">
        <label for="email">¿Dónde enviarlo?</label>
        <input
          type="email"
          id="email"
          name="email"
          placeholder="ejemplo@email.com"
        />
      </div>
      <div class="form-group-checkbox">
        <input type="checkbox" id="receiveAll" name="receiveAll" />
        <label for="receiveAll">Recibir todos los cuentos en mi correo</label>
      </div>
      <button type="submit" class="submit-button">Enviar</button>
    </form>
    <div id="loader" class="loader" style="display: none;">
      <p>Enviando tu petcición de  cuento mágico...</p>
    </div>
    <div id="successMessage" class="success-message" style="display: none;">
      <p>¡Tu petición se ha enviado con éxito y nos pondremos a ello pronto!</p>
    </div>
    <div id="errorMessage" class="error-message" style="display: none;">
      <p>
        Lo sentimos, hubo un error al crear tu cuento. Por favor, intenta
        de nuevo.
      </p>
    </div>
  </div>
</MainLayout>

<script>
  document.addEventListener("DOMContentLoaded", () => {
    const form = document.getElementById("customForm");
    const loader = document.getElementById("loader");
    const successMessage = document.getElementById("successMessage");
    const errorMessage = document.getElementById("errorMessage");
    const statusImage = document.getElementById("statusImage");
    const loadingImage = document.getElementById("loadingImage");
    const successImage = document.getElementById("successImage");
    const errorImage = document.getElementById("errorImage");
    const description = document.getElementById("description");

    form.addEventListener("submit", async (event) => {
      event.preventDefault();

      const formData = {
        name: form.name.value,
        story: form.story.value,
        email: form.email.value,
        receiveAll: form.receiveAll.checked,
      };

      form.style.display = "none";
      loader.style.display = "flex";
      description.style.display = "none";
      successMessage.style.display = "none";
      errorMessage.style.display = "none";
      statusImage.style.display = "none";
      loadingImage.style.display = "block";
      successImage.style.display = "none";
      errorImage.style.display = "none";

      try {
        const response = await fetch(
          "https://script.google.com/macros/s/AKfycbyXxWrBmQDXCDIg5v-bc4YnkDU5YHu43a8HeGVNdoknYDK50bBnLg9gcAbP4Myw14lr/exec",
          {
            method: "POST",
            body: JSON.stringify(formData),
            headers: {
              "Content-Type": "text/plain;charset=utf-8",
            },
          }
        );

        if (response.ok) {
          successMessage.style.display = "flex";
          successImage.style.display = "block";
        } else {
          errorMessage.style.display = "flex";
          errorImage.style.display = "block";
        }
      } catch (error) {
        errorMessage.style.display = "flex";
        errorImage.style.display = "block";
      } finally {
        loader.style.display = "none";
        loadingImage.style.display = "none";
      }
    });
  });
</script>
