.hero-banner {
    position: relative;
    height: 70dvh;
    overflow: hidden;
}

.parallax {
    position: relative;
    height: 100%;
    width: 100%;
}

.parallax-layer {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.parallax-layer img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

/* Estilos comunes para la imagen */
.hero-banner .parallax-layer.owl img {
    position: absolute;
    bottom: 0;
}

/* Media query para pantallas móviles (hasta 900px) */
@media (max-width: 900px) {
    .hero-banner .parallax-layer.owl img {
        object-fit: contain;
        width: 460px;
        right: calc(50% - 220px);
        height: auto;
    }
}

/* Media query para pantallas de escritorio (a partir de 900px) */
@media (min-width: 900px) {
    .hero-banner .parallax-layer.owl img {
        object-fit: contain;
        right: calc(50% - 300px);
        width: 600px;
        height: auto;
    }
}

.hero-banner .parallax-layer.title img {
    position: absolute;
    top: 0;
}

/* Media query para pantallas móviles (hasta 900px) */
@media (max-width: 900px) {
    .hero-banner .parallax-layer.title img {
        object-fit: contain;
        width: 400px;
        right: calc(50% - 200px);
        height: auto;
    }
}

/* Media query para pantallas de escritorio (a partir de 900px) */
@media (min-width: 900px) {
    .hero-banner .parallax-layer.title img {
        object-fit: contain;
        right: calc(50% - 200px);
        width: 400px;
        height: auto;
    }
}