.story-container {
    padding: 20px;
    max-width: 800px;
    margin: 0 auto;
    background: #f9f9f9;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.story-title {
    text-align: center;
    font-size: 2em;
    margin-bottom: 20px;
    color: var(--secondary-color);
}

.youtube-embed,
.spotify-embed {
    text-align: center;
    margin-bottom: 8px;
}

.youtube-embed iframe,
.spotify-embed iframe {
    width: 100%;
    border-radius: 8px;
}

.spotify-embed iframe {
    height: 100px;
}

.youtube-embed iframe {
    height: 400px;
}

.story-image {
    width: 100%;
    height: auto;
    margin-bottom: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.story-content {
    font-size: 1.3em;
    line-height: 1.8;
    color: black;
}

.story-content p {
    margin-bottom: 20px;
    text-align: justify;
}

.related-stories {
    margin-top: 40px;
}

.related-stories h2 {
    font-size: 1.5em;
    margin-bottom: 20px;
    color: var(--secondary-color);
}

.related-stories-list {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: space-between;
}

.related-story-card {
    background: #ffffff;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    transition: transform 0.2s;
    width: calc(33% - 20px);
    text-align: center;
}

.related-story-card:hover {
    transform: scale(1.05);
}

.related-story-image {
    width: 100%;
    height: auto;
}

.related-story-title {
    padding: 10px;
    font-size: 1.1em;
    color: var(--title-color);
}

.download-button {
    display: block;
    margin: 8px auto;
    padding: 10px 20px;
    font-size: 1.2em;
    color: #fff;
    background-color: var(--secondary-color);
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.download-button:hover {
    background-color: var(--primary-color);
}

.font-size-selector {
    display: grid;
    justify-content: center;
    padding: 8px;
}

.font-size-selector label {
    margin-right: 10px;
    font-size: 1.2em;
    color: var(--secondary-color);
}

.font-size-selector span {
    font-size: 1.2em;
    color: var(--secondary-color);
}

.font-size-selector input {
    margin-right: 10px;
}

a {
    text-decoration: none;
}

.loading-message {
    text-align: center;
    font-size: 1.5em;
    padding: 50px 0;
}

@media (max-width: 768px) {
    .related-story-card {
        width: calc(50% - 20px);
    }
}

@media (max-width: 480px) {
    .related-story-card {
        width: 100%;
    }

    .story-content {
        font-size: 1em;
    }
}

@media print {

    .youtube-embed,
    .spotify-embed,
    .related-stories,
    .download-button,
    .font-size-selector,
    footer {
        display: none !important;
    }

    .story-container {
        box-shadow: none;
        background: none;
        padding: 0;