---
import NavLayout from '../../layouts/NavLayout.astro'
import Card from '../../components/TGC/Card.vue'
import { VContainer } from '@overgaming/vicius'
import t from '../../translations'
---

<NavLayout
  title={t('page.home.h1')}
  description={t('page.home.description')}
  url={'/'}
>
  <div class="tgc">
    <VContainer size="xl">
      <div class="tgc__list">
        <Card size="xxs" image="sample" name="Angry Cat" client:load />
        <Card size="xs" image="sample4" name="Descent Moon" client:load />
        <Card size="md" image="sample2" name="Sleeping Cat" client:load />
        <Card size="xl" image="sample3" name="The White Girl" client:load />
      </div>
    </VContainer>
  </div>
</NavLayout>

<style>
  .tgc {
    padding: 60px;
  }
  .tgc__list {
    display: grid;
    grid-auto-flow: column;
  }
</style>
