---
import NavLayout from '../../layouts/NavLayout.astro'
import CardsPage from '../../components/Page/CardsPage.vue'
import { VContainer } from '@overgaming/vicius'
import t from '../../translations'
---

<NavLayout
  title={t('page.home.h1')}
  description={t('page.home.description')}
  url={'/'}
>
  <div class="tgc">
    <VContainer size="xl">
      <CardsPage client:load />
    </VContainer>
  </div>
</NavLayout>

<style>
  .tgc {
    padding: 60px;
  }
  .tgc__list {
    display: grid;
    grid-auto-flow: column;
  }
</style>
