---
import '../styles/404.css'
import NavLayout from '../layouts/NavLayout.astro'
import t from '../translations'
---

<NavLayout
  title={t('page.404.title')}
  description={t('page.404.message')}
  url="/404"
>
  <div class="voz-cuentos-body">
    <div class="voz-cuentos-container" style="display: grid; grid-gap: 12px;">
      <div class="voz-cuentos-owl">
        <img src="/assets/emotes/sad.webp" alt="Lechuza mágica" />
      </div>
      <h1 class="voz-cuentos-title">{t('page.404.title')}</h1>
      <p class="voz-cuentos-message">
        {t('page.404.message')}
      </p>
      <div>
        <a
          class="v-button v-button--vt-default v-button--cr-primary v-button--sz-df"
          style="color:white; padding: 16px;"
          href="/"
          class="voz-cuentos-link">{t('page.404.link')}</a
        >
      </div>
    </div>
  </div>
</NavLayout>
