---
import MainLayout from "../layouts/MainLayout.astro";
import BasicCard from "../components/BasicCard.astro";
import storiesData from "../data/stories.json";
import "../styles/StoriesPage.css";
const stories = Object.entries(storiesData).map(([key, data]) => ({
  key,
  data,
}));
const totalStories = stories.length;
const storyCountMessage = `Tenemos <span class="text-secondary">${totalStories}</span> cuentos m치gicos para ti`;
---

<MainLayout
  title="Listado de Cuentos"
  description="Nuestra colecci칩n de cuentos m치gicos, cientos de cuentos esperando a ser descubiertos"
  url="/cuentos/"
>
  <div class="stories-content">
    <h1 class="page-title">Nuestros Cuentos M치gicos</h1>
    <p class="story-count" innerHTML={storyCountMessage}></p>
    <div class="stories-grid">
      {
        stories.map((story) => (
          <BasicCard linkType="VIDEO" key={story.key} entry={story.data} />
        ))
      }
    </div>
  </div>
</MainLayout>
