---
import NavLayout from '../layouts/NavLayout.astro'
import Hero from '../components/Cards/Hero.vue'
import SectionsDefault from '../components/Sections/Default.vue'
import NewSection from '../components/Sections/News.vue'
import SagasSection from '../components/Sections/Sagas.vue'
import { VContainer } from '@overgaming/vicius'
import t from '../translations'
import { toStories, toSagas } from '../router'
---

<NavLayout
  title="Página Principal"
  description="Embárcate en un viaje encantado a través de La Voz de los Cuentos, donde cada historia cobra vida y la magia de la narración te envuelve. Descubre relatos antiguos y nuevos, llenos de fantasía, misterio y maravillas, en un reino donde la imaginación no tiene límites."
  url={'/'}
>
  <div class="homepage">
    <VContainer size="xl">
      <Hero />
      <SectionsDefault title={t('section.news')} moreLink={toStories()}>
        <NewSection client:load />
      </SectionsDefault>
      <SectionsDefault title={t('section.sagas')} moreLink={toSagas()}>
        <SagasSection />
      </SectionsDefault>
    </VContainer>
  </div>
</NavLayout>

<style>
  .homepage {
    padding: var(--v-unit-8);
  }
</style>
