---
import NavLayout from '../layouts/NavLayout.astro'
import Hero from '../components/Cards/Hero.vue'
import SectionsDefault from '../components/Sections/Default.vue'
import NewSection from '../components/Sections/News.vue'
import SagasSection from '../components/Sections/Sagas.vue'
import { VContainer } from '@overgaming/vicius'
import t from '../translations'
import { toStories, toSagas } from '../router'
---

<NavLayout
  title={t('page.home.h1')}
  description={t('page.home.description')}
  url={'/'}
>
  <div class="homepage">
    <VContainer size="xl">
      <Hero />
      <SectionsDefault title={t('section.news')} moreLink={toStories()}>
        <NewSection client:load />
      </SectionsDefault>
      <SectionsDefault title={t('section.sagas')} moreLink={toSagas()}>
        <SagasSection />
      </SectionsDefault>
    </VContainer>
  </div>
</NavLayout>

<style>
  .homepage {
    padding: var(--v-unit-8);
  }
</style>
