---
import MainLayout from "../layouts/MainLayout.astro";
import "../styles/UnsubscribePage.css";
---

<MainLayout 
  title="Quitarse" 
  description="EnLa Voz de los Cuentos nos ponemos tristes cuando alguien se va, pero entendemos tus motivos. Agradecemos todo el tiempo mágico que has pasado con nosotros. ¡Siempre serás parte de nuestra familia de cuentos!" 
  url={"/quitarse"}
  >
  <div class="unsubscribe-content">
    <div class="unsubscript-text">
      <h1 class="unsubscribe-title">¿Ya no quieres más cuentos?</h1>
      <p class="unsubscribe-description">
        Si ya no deseas recibir más cuentos mágicos, ¡no te preocupes! Puedes
        enviar un correo a <a
          href="mailto:tus.audio.cuentos@gmail.com"
          class="unsubscribe-link">tus.audio.cuentos@gmail.com</a
        > o responder a cualquier correo con un cuento, pidiendo que te demos de
        baja del servicio.
      </p>
      <p class="unsubscribe-description">
        Nos encantaría saber por qué ya no quieres recibir más cuentos o si
        tienes alguna sugerencia para nosotros. ¡Nos encanta escuchar a nuestros
        amiguitos!
      </p>
      <div class="unsubscribe-image-container">
        <img
          src="/assets/emotes/sad.png"
          alt="Imagen de despedida"
          class="unsubscribe-image"
        />
      </div>
      <h2 class="unsubscribe-subtitle">¡No nos gustan las despedidas!</h2>
      <p class="unsubscribe-description">
        En <span class="text-secondary">La Voz de los Cuentos</span> nos ponemos
        tristes cuando alguien se va, pero entendemos tus motivos. Agradecemos todo
        el tiempo mágico que has pasado con nosotros. ¡Siempre serás parte de nuestra
        familia de cuentos!
      </p>
    </div>
  </div>
</MainLayout>
