:root {
    --primary-color: #187e58;
    --secondary-color: #FF6F61;
    --background-color: #d2eef5;
    --title-color: #450505;
    
}

body {
    background-color: var(--background-color);
}

.text-secondary {
    color: var(--secondary-color);
}