---
import '../styles/FeaturedSagas.css';
import BasicCard from './BasicCard.astro';
import sagasData from '../data/sagas.json';

const sortedSagas = Object.entries(sagasData)
  .map(([key, data]) => ({ key, data }))
  .sort((a, b) => a.data.order - b.data.order);
---

<section class="featured-sagas">
  <h2> Descubre Nuestras <span class="sagas-list-number">{sortedSagas.length}</span> Sagas</h2>
  <div class="sagas-list">
    {sortedSagas.map(saga => (
      <BasicCard key={saga.key} entry={saga.data} isSaga={true} linkType="PLAYLIST" />
    ))}
  </div>
</section>
