---
import "../styles/FeaturedStories.css";
import BasicCard from "./BasicCard.astro";
import storiesData from "../data/stories.json";
import { Image } from "astro:assets";

const sortedStories = Object.entries(storiesData)
  .map(([key, data]) => ({ key, data }))
  .sort((a, b) => b.data.order - a.data.order);
---

<section class="featured-stories">
  <h2>
    Descubre Nuestros <span class="stories-list-number"
      >{sortedStories.length}</span
    > Cuentos
  </h2>
  <div class="stories-list">
    {
      sortedStories
        .slice(0, 10)
        .map((story) => (
          <BasicCard linkType="VIDEO" key={story.key} entry={story.data} />
        ))
    }
    <a href="/cuentos" class="basic-card-link">
      <div class="basic-card">
        <div class="basic-image">
          <Image
            src="/assets/stories/default.png"
            alt="Más cuentos"
            width={250}
            loading="lazy"
            height={250}
            layout="constrained"
            loading="eager"
          />
          <div class="basic-info">
            <h3>Resto de cuentos</h3>
          </div>
        </div>
      </div>
    </a>
  </div>
</section>
