---
import NavLayout from '../../layouts/NavLayout.astro'
import AccountPage from '../../components/Page/AccountPage.vue'
import t from '../../translations'
import { toAccount } from '../../router'

export async function getStaticPaths() {
  const paths = [
    {
      params: {
        account: import.meta.env.PUBLIC_LANG === 'en' ? 'account' : 'cuenta'
      }
    }
  ]
  return paths
}
---

<NavLayout
  title={t('page.account.achievements')}
  description={t('page.account.description')}
  url={toAccount()}
>
  <AccountPage client:load>
    <div class="achievements-page">
      <p>{{ t('page.account.achievements.placeholder') }}</p>
    </div>
  </AccountPage>
</NavLayout>

<style>
  .achievements-page {
    padding: var(--v-unit-8);
    text-align: center;
  }
</style>
